global_costmap:
  global_frame: base_link
  robot_base_frame: base_link
  update_frequency: 10.0
  publish_frequency: 10.0
  rolling_window: true
  width: 20.0
  height: 20.0
  resolution: 0.05

  plugins: ["static_layer", "obstacle_layer", "inflation_layer"]

  static_layer:
    enabled: false     # base_link에서는 static map 사용 의미 없음

  obstacle_layer:
    enabled: true
    observation_sources: scan obstacle_points
    scan:
      topic: /scan
      data_type: LaserScan
      marking: true
      clearing: true
    obstacle_points:
      topic: /obstacle_points
      data_type: PointCloud2
      marking: true
      clearing: false

  inflation_layer:
    enabled: true
    inflation_radius: 0.3
    cost_scaling_factor: 3.0


local_costmap:
  global_frame: base_link
  robot_base_frame: base_link
  update_frequency: 20.0
  publish_frequency: 20.0
  rolling_window: true
  width: 10.0
  height: 10.0
  resolution: 0.05

  plugins: ["obstacle_layer", "inflation_layer"]

  obstacle_layer:
    enabled: true
    observation_sources: scan obstacle_points
    scan:
      topic: /scan
      data_type: LaserScan
      marking: true
      clearing: true
    obstacle_points:
      topic: /obstacle_points
      data_type: PointCloud2
      marking: true
      clearing: false

  inflation_layer:
    enabled: true
    inflation_radius: 0.25
    cost_scaling_factor: 3.0
